# DNS: Disable
port=0

# DHCP: Enable (for specific addresses)
dhcp-range={{ dhcp_network }},static
dhcp-option=option:netmask,{{ dhcp_netmask }}
dhcp-option=option:router,{{ dhcp_gateway }}
dhcp-option=option:dns-server,{{ dhcp_nameserver }}
log-dhcp

# TFTP: Enable
enable-tftp
tftp-root=/srv/tftp
dhcp-boot=/bootnetx64.efi
